.primary-bg {
    background-color: #0D0D0D;
}


.primary-text {
    color: #222366;
}



#login-illustration {
    background-image: url("/assets/wallpaper.jpg");
    background-size: cover;
    background-position: right;
    border-radius: 0px 5px 5px 0px;
}